{% if hostel.description|length > 140 %}
    <div class="pl-lg-2 d-inline-block">
        <a href="" class="link font-weight-stone-500" data-toggle="modal" data-target="#hostel-info-modal">
            Afficher plus <i class="fas fa-long-arrow-alt-right ml-1"></i>
        </a>
        <div class="modal fade" id="hostel-info-modal" tabindex="-1" role="dialog" aria-labelledby="hostel-info-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title px-0 pt-1 font-weight-stone-600 text-dark" id="hostel-info-modal-label">Description de l'établissement</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times text-danger"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <img class="img-fluid" src="{{ asset(hostel.galleries.first.webPath) }}" alt="{{ hostel.galleries.first.name }}">
                        </div>
                        <div class="description">{{ hostel.description|raw }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}