<li class="nav-item mobile-partner-user mt-4 d-block d-lg-none">
    <a href="{{ path('app_partner_create') }}" class="btn btn-sm btn-block btn-default z-depth-0">Ajouter votre établissement</a>
</li>