{% extends 'site/layout.html.twig' %}

{% block title 'Felicitation, votre demande de partenariat a été reçu avec succès' %}

{% block meta %}
    {% set content = "Felicitation, votre demande de partenariat a été reçu avec succès" %}
    <meta name="description" content="{{ content }}"/>
    <meta property="og:description" content="{{ content }}" />
{% endblock %}

{% block app_flashes %}{% endblock %}

{% block app_intro %}
    <section class="bc container">
        <div>
            {{ wo_render_breadcrumbs({viewTemplate: '_breadcrumb.html.twig', listClass: 'breadcrumb',
                itemClass: 'breadcrumb-item', separator: '>', separatorClass: 'fas fa-long-arrow-alt-right'}) }}
        </div>
    </section>
{% endblock %}

{% block app_body %}
    {{ include('site/partner/success/content.html.twig') }}
{% endblock %}




