<div class="row d-flex justify-content-center justify-content-md-start">
    <div class="col-12 col-md-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.roomEquipmentGroup) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.description) }}
    </div>
</div>



