<div id="password-bulk" class="form-row">
    <div class="col-12 col-md-4">
        {{ form_widget(form.plainPassword.first) }}
    </div>
    <div class="col-12 col-md-4">
        {{ form_widget(form.plainPassword.second) }}
    </div>
    <div class="col-12 col-md-4 d-flex align-items-center mt-3">
        <a id="password-generate-btn" href="" class="btn btn-grey-medium btn-sm">Générer le mot de passe</a>
    </div>
</div>
